.App-header {
  text-align: center;
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vids div {
  float: left;
  margin: 40px;
}

